@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

:root {
	--card-height: 450px;
	--card-width: calc(var(--card-height) / 1.5);
}

::-webkit-scrollbar {
	display: none;
}

.scrollable-component {
	overflow-y: auto;
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #3b82f6 #f4f4f4;
}

@layer utilities {
	.activityCard {
		@apply card hover:-translate-y-2 rounded-lg overflow-hidden hover:shadow-lg hover:bg-blue-300 hover:text-blue-800 flex-1 h-full max-h-[390px];
	}
	.formInput {
		@apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
	}

	.formSelect {
		@apply w-full px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
	}

	.formLabel {
		@apply block text-sm font-medium text-gray-700;
	}

	.modalBackdrop {
		@apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity;
	}

	.modalPanel {
		@apply relative min-w-[560px] min-h-10 h-fit max-h-[85%] transform overflow-scroll rounded-lg bg-white text-left shadow-xl transition-all mb-6;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		scale: 0.4;
		/* transform: translate(-100px); */
	}

	to {
		opacity: 1;
		scale: 1;
		/* transform: translateX(0px); */
	}
}

.scrollAnimation {
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 40%;
}

.custom {
	transition: transform 0.5s ease, box-shadow 0.3s ease;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #5c5d5f;
	text-align: left;
	padding: 8px;
}

.card {
	transition: transform 0.5s ease, box-shadow 0.3s ease; /* Transition for transform and shadow */
	cursor: pointer;
}

.card.enlarged {
	width: calc(100% - 250px);
	height: calc(100% - 85px);
	z-index: 999;
	position: absolute;
	top: 30px;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
	overflow: hidden;
}

.card-details {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	/* text-align: center; */
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
	z-index: 10;
	/* max-width: 80%; */
	width: 80%;
	height: fit-content;
	max-height: 90%;
	overflow-y: auto;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.close-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 30px;
	color: black;
	cursor: pointer;
	transition: color 0.3s; /* Smooth color transition */
}

.close-btn:hover {
	color: red;
}

.card:not(.enlarged) {
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth shrink transition */
}

.card.active {
	transform: scale(1); /* Ensure it scales correctly */
}

.slick-slide > div {
	margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
	color: blue !important;
}
